.header{
    margin-top: 0.5rem;
    margin-left: 3em;
}

.header ul{
    padding-left: 50px;
    margin-top: 0.5rem;
}
.header ul li {
    list-style: none;
    margin: 0;
    padding: 0.75rem 1rem;

}

.header ul li:hover {
    color: #3e9ddd;

}